## UserPics files
/client/assets/images/user-pics/*
!/client/assets/images/user-pics/placeholderUserPic.webp

## Portadas files
/client/assets/images/portadas/*
!/client/assets/images/portadas/placeholder-portada-libro.webp