@import url(modal.css);

:root {
  --ancho-portada-libro: 128px;
  --alto-portada-libro: 192px;
  --ancho-vista-libro: 180px;
  --ancho-datos-libro: 170px;
}

/* Paletas de colores a partir de: https://colorhunt.co */
/* Tema Claro ☀️ */
html[data-theme="light"] {
  --primary-color: #45171d;
  --secondary-color: #ff7e75;
  --secondary-contrast-color: #ba4050;
  --secondary-lighten-color: #f7b3ae;
  --background-color: #ffe3cd;
  --background-contrast-color: #e48179;
  --user-invalid-color: #8f2929;
  --user-valid-color: #56ac3c;

  --input-text-background: color-mix(in srgb, var(--secondary-contrast-color), transparent 80%);
  --input-text-foreground: #000;

  --header-active-color: #fdd9d6;
  --header-background: color-mix(in srgb, var(--secondary-color), black 20%);
}

/* Tema Oscuro 🌙 */
html[data-theme="dark"] {
  --primary-color: #e7ab79;
  --secondary-color: #cd6781;
  --secondary-contrast-color: #774360;
  --secondary-lighten-color: #fffdde;
  --background-color: #4c3a51;
  --background-contrast-color: #3d2e41;
  --user-invalid-color: #ba1313;
  --user-valid-color: #46d01c;

  --input-text-background: color-mix(in srgb, var(--secondary-lighten-color), transparent 80%);
  --input-text-foreground: #fff;

  --header-active-color: #fdd9d6;
  --header-background: color-mix(in srgb, var(--background-color), white 10%);
}

/* Familia de la fuente de LyonsType: https://lyonstype4.wixsite.com/lyonstype-beta/fonts */
@font-face {
  font-family: LTCushion;
  src: url(../assets/fonts/LTCushion-VF.ttf);
}

* {
  font-family: LTCushion;

  scrollbar-color: var(--primary-color) var(--header-background);
  scrollbar-width: auto;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  
  color: var(--primary-color);
  background-color: var(--background-color);
  transition: all .2s ease;

  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

h1 {
  font-size: 45px;
  letter-spacing: -1px;
  filter: drop-shadow(2px 2px 0 var(--secondary-color));
}

h1, h2 {
  text-align: center;
  text-wrap: balance;
  line-height: 1.5em;
}

a {
  display: inline-block;
  color: var(--secondary-color);
  text-decoration: none;

  &::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: var(--secondary-color);
    transition: .5s ease;
  }

  &:hover::after {
    width: 100%;
  }
}

.icon {
  margin: 10px auto;
  cursor: pointer;
  transition: .2s linear;
  padding: 1px;
  outline: none;

  &.sun {
    &:hover {
      transform: rotate(180deg);
    }
  }

  &.moon {
    &:hover {
      transform: rotateY(180deg);
    }
  }

  &:focus-visible {
    border-radius: 30px;
    box-shadow: 0 0 1px 2px var(--primary-color);
    
    &.moon {
      transform: rotateY(180deg);
    }

    &.sun {
      transform: rotate(180deg);
    }
  }
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
  display: flex;
  padding: 7px;

  font-size: 15px;
  outline: none;
  border: 2px solid var(--primary-color);
  color: var(--input-text-foreground);
  background-color: var(--input-text-background);

  transition: .6s ease;

  &:focus-visible {
    box-shadow: 0 0 0 3.5px var(--primary-color);
  }
}

.submit-btn {
  padding: 10px;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  filter: drop-shadow(4px 4px 0 color-mix(in srgb, var(--secondary-contrast-color) 1%, black 55%));
  margin: 0 10px;

  font-family: LTCushion;
  font-size: 14px;
  font-weight: bold;
  color: var(--secondary-lighten-color);
  background-color: var(--secondary-contrast-color);

  transition: .2s ease;
  cursor: pointer;

  &:active{
    transform: translate(2px, 2px);
    filter: drop-shadow(0 0 0 color-mix(in srgb, var(--secondary-contrast-color) 1%, black 55%));
    background-color: color-mix(in srgb, var(--secondary-contrast-color) 85%, black);
  }

  &:focus-visible {
    transform: translate(2px, 2px);
    filter: drop-shadow(0 0 0 color-mix(in srgb, var(--secondary-contrast-color) 1%, black 55%));

    background-color: color-mix(in srgb, var(--secondary-contrast-color) 85%, black);
  }

  &:disabled {
    box-shadow: unset;
    filter: grayscale(0.5);
    background-color: unset;
    cursor: auto;

    &:active {
      transform: unset;
    }
  }
}

.input-text {
  width: 200px;
  padding: 7px;

  outline: none;
  border: 2px solid var(--primary-color);
  color: var(--input-text-foreground);
  background-color: var(--input-text-background);

  transition: .6s ease;

  &:focus-visible {
    box-shadow: 0 0 0 3.5px var(--secondary-contrast-color);
  }

  &:user-invalid {
    border: 2px solid var(--user-invalid-color);
    background-color: color-mix(in srgb, var(--user-invalid-color) 60%, var(--secondary-lighten-color)) !important;
  }

  &:user-valid {
    border: 2px solid var(--user-valid-color);
    background-color: color-mix(in srgb, var(--user-valid-color) 60%, var(--secondary-lighten-color)) !important;
  }
}

html[data-theme = "dark"] {
  .input-text {
    color: var(--secondary-lighten-color);
    background-color: var(--secondary-contrast-color) !important;

    &:user-invalid {
      border: 2px solid var(--user-invalid-color);
      background-color: color-mix(in srgb, var(--user-invalid-color) 40%, var(--secondary-contrast-color)) !important;
    }

    &:user-valid {
      border: 2px solid var(--user-valid-color);
      background-color: color-mix(in srgb, var(--user-valid-color) 40%, var(--secondary-contrast-color)) !important;
    }
  }

  .input-text:focus-visible {
    box-shadow: 0 0 0 3.5px var(--primary-color);
  }
}

.acceso-bloqueado {
  --acceso-bloqueado-color: #fe4d80;

  min-width: 320px;
  max-height: 70vh;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  scrollbar-color: var(--acceso-bloqueado-color) transparent;

  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #de882c, var(--acceso-bloqueado-color));
  
  padding: 20px 25px;
  box-shadow: 0 0 15px 2px #00000072;
  background-color: color-mix(in srgb, var(--background-contrast-color) 30%, var(--user-invalid-color) 10%);

  & h2 {
    padding: unset;
    color: var(--acceso-bloqueado-color);
  }

  & p {
    line-height: 1.5rem;
    text-align: center;
    text-wrap: balance;

    & strong {
      color: var(--acceso-bloqueado-color);
    }
  }

  & li {
    line-height: 1.5rem;

    & ul > li {
      font-size: 14px;
      margin-bottom: 10px;
      opacity: 0.8;

      & span {
        font-style: italic;
      }
    }
  }

  & .extra-info {
    font-size: 13px;
    text-wrap: balance;
    text-align: center;
    color: #ffe8e8;
    line-height: unset;

    margin: unset;
  }

  ::selection {
    color: #f5e9e9;
    background: var(--acceso-bloqueado-color);
  }
}

::selection {
  color: var(--background-color);
  background: var(--primary-color);
}