.modal {
  width: -moz-fit-content;
  width: fit-content;
  padding: 70px;

  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, var(--primary-color), var(--secondary-color));
  color: var(--primary-color);
  background-color: var(--background-color);
  animation: fade-slide-in .4s ease;


  &#registro {
    width: 300px;

    & .input-text {
      width: 220px;
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;

    & .input-text {
      text-align: center;
      font-size: 17px;
    }
  }

  &#confirmacion-registro {
    height: min-content;
    top: 150;
    padding: 36px;
    padding-bottom: 17px;
    z-index: 2;

    border-image-source: linear-gradient(to left, var(--secondary-contrast-color), var(--secondary-color));
    color: var(--background-color);
    background-color: var(--primary-color);

    & label {
      font-size: 16px;
      font-weight: bold;
    }

    & .submit-btn {
      border-color: var(--secondary-contrast-color);
      background-color: var(--secondary-color);
    }
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.447);
  }
}

@keyframes fade-slide-in {
  from {
    opacity: 0;
    transform: translateY(40px);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}