.modal {
  width: 400px;
  padding: 30px 0;

  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, var(--primary-color), var(--secondary-color));
  color: var(--primary-color);
  background-color: var(--background-color);
  animation: fade-slide-in .4s ease;

  & form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;

    & .input-text {
      text-align: center;
      font-size: 17px;
    }

    & .warning {
      width: 95%;
      color: #ffb02e;
      text-align: center;
      text-wrap: balance;
      line-height: 20px;
      margin: unset;

      &::before {
        content: "⚠️ ";
      }
    }
  }

  &#confirmacion-registro {
    height: min-content;
    top: 150;
    padding: 36px;
    padding-bottom: 17px;
    z-index: 2;

    border-image-source: linear-gradient(to left, var(--secondary-contrast-color), var(--secondary-color));
    color: var(--background-color);
    background-color: var(--primary-color);

    & label {
      font-size: 16px;
      font-weight: bold;
    }

    & .submit-btn {
      border-color: var(--secondary-contrast-color);
      background-color: var(--secondary-color);
    }
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.447);
  }
}

#login {
  & small {
    color: var(--secondary-lighten-color);
    cursor: pointer;
  }
}

.input-text {
  min-width: 290px;
}

#error-mail {
  padding: 19px;
  z-index: 5;
  margin-top: 190px;

  border-image-source: linear-gradient(to right, #af0909, #8b3d3d);
  background-color: #e25858;
  color: white;

  & h3, p {
    text-align: center;
  }
}


@keyframes fade-slide-in {
  from {
    opacity: 0;
    transform: translateY(40px);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}