@import url(/bibliopocket/client/styles/globals.css);

:root {
  --ancho-profile-pic: 128px;
  --alto-profile-pic: 128px;
  --section-background-color: #5b4667;
}

body {
  align-items: center;
}

form, section {
  display: flex;
  align-items: center;
  width: 80vw;
  padding: 10px;
  background-color: var(--section-background-color);
}

.datos-user {
  display: flex;
  flex-direction: column;
  margin: 30px;

  & .username-pic {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    column-gap: 30px;
    margin-bottom: 25px;

    & .username {
      color: var(--primary-color);
      font-size: 30px;
      font-weight: bolder;
      max-width: 255px;
      
      border: none;
      outline: none;
      background-color: transparent;

      &:focus-visible {
        box-shadow: 0 0 2px var(--primary-color);
      }
    }
  }
}

label {
  &::before {
    content: "•";
    margin-right: 7px;
  }

  font-size: 18px;
  display: flex;
  align-items: center;
}

.icon {
  margin: 0 10px;
}

.wrap-image-uploader {
  position: relative;

  width: var(--ancho-profile-pic);
  max-width: var(--ancho-profile-pic);
  height: var(--alto-profile-pic);
  max-height: var(--alto-profile-pic);

  & .preview {
    width: var(--ancho-profile-pic);
    max-width: var(--ancho-profile-pic);
    height: var(--alto-profile-pic);
    max-height: var(--alto-profile-pic);

    border: 3px solid var(--primary-color);
    border-radius: 100%;
    transition: filter .4s ease;
  }

  & .wrap-uploader {
    & .lapiz-icon {
      top: 50%;
      left: 50%;
      position: absolute;
      padding: 5px;
      border-radius: 10px;
      background-color: #00000080;

      transform: translate(-50%, -50%);
      transition: background .3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: #000000;
      }
    }

    & #uploader-input {
      display: none;
    }

    & label::before {
      display: none;
    }
  }
}
